* {
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 40%, rgba(20,45,10,1) 100%);
    font-size: 10px;
    text-align: center;
}

.catchPhrase p{
    display: inline-block;
    text-transform: uppercase;
    background: linear-gradient(90deg, rgb(141, 250, 170) 0%, rgb(36, 116, 104) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.catchPhrase a{
    text-decoration: none;
    font-size: 40px;
    color: white;
    font-weight: bold;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    background-size: cover;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.wiecej{
    color: white;
    text-align: left;
    width: 1000px;
    height: 500px;
    font-size: 29px;
    background: gray;
    border-radius: 25px;
    text-shadow: black 0.2em 0.2em 0.2em;
    padding: 30px 10px;
}
img{
    margin-top:220px;
    margin-right:-230px;
}
.tytul{
    text-align: center;
    font-size: 36px;
}