* {
    margin: 0px;
    padding: 0px;
}
body{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 40%, rgba(20,45,10,1) 100%);
    font-size: 10px;
    text-align: center;
}
.blok{
    display: flex;
    background-size: cover;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}