* {
    margin: 0px;
    padding: 0px;
}
body{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 40%, rgba(20,45,10,1) 100%);
    font-size: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
img{
    margin: 150px;
    opacity: 0.5;
    width: 425px;
    height: 600px;
    transition: all 1s ease-in-out;
}
img:hover{
    transform: scale(1.1);
    opacity: 1;
}
.container{
    display: flex;
    background-size: cover;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.description{
    text-align: center;
    font-size: 30px;
    color: white;
    margin:100px;
    text-shadow: black 0.2em 0.2em 0.2em    
}
.nextSiteBtn{
    width: 350px;
    height: 50px;
    border-radius: 25px;
    margin: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
}
#ebook{
    background-color: red;
}
#wiecej{
    background-color: blue;
}
.buttonsContainer{
    margin-top: 10px;
    font-size: 22px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}